openapi: 3.0.1
info:
  title: AlterOrb API
  version: "1.0"
servers:
  - url: https://api.alterorb.net/v1
paths:
  /accounts:
    get:
      summary: Searches for an account via it's display name
      operationId: search-accounts
      parameters:
        - name: displayName
          in: query
          description: The display name to be searched for
          required: true
          schema:
            type: string
      responses:
        200:
          description: The found AlterOrb account information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        400:
          description: If no `displayName` query parameter was provided.
          content: {}
        404:
          description: If no account was found with the given display name.
          content: {}
  /accounts/{uuid}:
    get:
      summary: Fetches the detailed account information for the provided uuid
      operationId: account-detail
      parameters:
        - name: uuid
          in: path
          description: The account's uuid
          required: true
          schema:
            type: string
      responses:
        200:
          description: The account details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        404:
          description: If no account was found with the given uuid
          content: {}
  /accounts/{uuid}/achievements:
    get:
      summary: Lists all the achievements that the provided account has
      operationId: account-achievements
      parameters:
        - name: uuid
          in: path
          description: The account uuid to be queried
          required: true
          schema:
            type: string
        - name: gameId
          in: query
          description: Filter the results with the provided gameId
          schema:
            type: string
      responses:
        200:
          description: A list of achievements
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PlayerAchievement'
        404:
          description: If no account was found with the given uuid
          content: {}
  /games:
    get:
      summary: Lists all the AlterOrb games, even unsupported ones.
      operationId: list-games
      responses:
        200:
          description: A list of games
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Game'
  /games/{id}/achievements:
    get:
      summary: Lists all of the available achievements for a game
      operationId: list-game-achievements
      parameters:
        - name: id
          in: path
          description: The game id
          required: true
          schema:
            type: string
      responses:
        200:
          description: A list of achievements
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Achievement'
        400:
          description: If the provided game id is not a number
          content: {}
        404:
          description: If no game was found with the given id
          content: {}
  /highscores:
    get:
      summary: Looks up the top highscores entries depending on the selected mode
      operationId: highscores
      parameters:
        - name: mode
          in: query
          description: The highscore lookup mode
          required: true
          schema:
            type: string
            enum:
              - orbpoints
      responses:
        200:
          description: A list of entries
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/HighscoresOrbPoints'
        400:
          description: If no mode was specified
components:
  schemas:
    Account:
      type: object
      properties:
        uuid:
          title: UUID
          type: string
          description: The player's unique identifier.
          readOnly: true
        displayName:
          title: Display name
          type: string
          description: The visible name of the player.
          readOnly: true
        orbPoints:
          title: Orb points
          type: integer
          description: The amount of orb points that the player has.
          format: int32
          readOnly: true
        orbCoins:
          title: Orb Coins
          type: integer
          description: The amount of orb coins that the player has.
          format: int32
          readOnly: true
      description: A representation of an AlterOrb player account.
    Achievement:
      title: Achievement
      type: object
      properties:
        achievementId:
          title: id
          type: integer
          description: The achievement's id.
          format: int32
          readOnly: true
        name:
          title: Name
          type: string
          description: The achievement's name.
          readOnly: true
        criteria:
          title: Criteria
          type: string
          description: The achievement's unlock criteria.
          readOnly: true
        orbCoins:
          title: Orb Coins
          type: integer
          description: How many orb coins does the achievement awards.
          format: int32
          readOnly: true
        orbPoints:
          title: Orb Points
          type: integer
          description: How many orb points does the achievement awards.
          format: int32
          readOnly: true
        gameId:
          title: Game Id
          type: integer
          description: The id of the game that this achievement belongs to.
          format: int32
          readOnly: true
        obtainable:
          title: Obtainable
          type: boolean
          description: If this achievement is currently obtainable or not.
          readOnly: true
      description: A representation of a game achievement.
    Game:
      title: Game
      type: object
      properties:
        id:
          title: Id
          type: integer
          description: The game id
          format: int32
          readOnly: true
        jagexName:
          title: Jagex Name
          type: string
          description: The game's jagex name
          readOnly: true
        fancyName:
          title: Fancy Name
          type: string
          description: The game's fancy name
          readOnly: true
        obtainableAchievements:
          title: Obtainable Achievements
          type: integer
          description: How many achievements are obtainable in this game
          readOnly: true
        obtainableOrbCoins:
          title: Obtainable Orb Coins
          type: integer
          description: How many orb coins can be obtained in this game
          readOnly: true
        obtainableOrbPoints:
          title: Obtainable Orb Points
          type: integer
          description: How many orb points can be obtained in this game
          readOnly: true
      description: An AlterOrb game
    PlayerAchievement:
      title: Player Achievement
      type: object
      properties:
        id:
          title: Id
          type: integer
          description: The achievement id
          format: int32
          readOnly: true
        gameId:
          title: Game Id
          type: integer
          description: The game id
          format: int32
          readOnly: true
        unlockTimestamp:
          title: Unlock Timestamp
          type: string
          description: An ISO-8601 timestamp of when the achievement was unlocked
          readOnly: true
    HighscoresOrbPoints:
      title: Highscores OrbPoints
      type: object
      properties:
        displayName:
          title: Display Name
          type: string
          description: The player's display name
          readOnly: true
        orbPoints:
          title: Orb Points
          type: integer
          description: How many orb points the player has
          format: int32
          readOnly: true
      description: An entry on the highscores using the orbpoints mode
